x-superset-image: &superset-image guardiancr.azurecr.io/superset-docker:4.1.1_20250204-1000

services:
  superset:
    env_file:
      - path: docker/.env
        required: false
    image: *superset-image
    container_name: superset_app
    command: ["/app/docker/docker-bootstrap.sh", "app-gunicorn"]
    user: "root"
    restart: unless-stopped
    ports:
      - "8088:8088"
    depends_on:
      redis:
        condition: service_healthy

  superset-init:
    env_file:
      - path: docker/.env
        required: false
    image: *superset-image
    container_name: superset_init
    command: ["/app/docker/docker-init.sh"]
    user: "root"

  superset-worker:
    env_file:
      - path: docker/.env
        required: false
    image: *superset-image
    container_name: superset_worker
    command: ["/app/docker/docker-bootstrap.sh", "worker"]
    user: "root"
    restart: unless-stopped
    depends_on:
      redis:
        condition: service_healthy

  superset-worker-beat:
    env_file:
      - path: docker/.env
        required: false
    image: *superset-image
    container_name: superset_worker_beat
    command: ["/app/docker/docker-bootstrap.sh", "beat"]
    user: "root"
    restart: unless-stopped
    depends_on:
      redis:
        condition: service_healthy

  # db:
  #   env_file: docker/.env
  #   image: postgres:14
  #   container_name: superset_db
  #   restart: unless-stopped
  #   volumes:
  #     - db_home:/var/lib/postgresql/data
  #   environment:
  #     - POSTGRES_DB=auditor_circleci
  #     - POSTGRES_USER=circleci
  #     - POSTGRES_PASSWORD=C1rcL3

  redis:
    image: redis:8.0-M03
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5

# volumes:
#   db_home:
#     external: false
